name: Deploy Edge Functions

on:
  push:
    branches:
      - main
    paths:
      - 'supabase/functions/**' # Só roda se mexer nas funções

jobs:
  deploy:
    runs-on: ubuntu-latest

    env:
      SUPABASE_ACCESS_TOKEN: ${{ secrets.SUPABASE_ACCESS_TOKEN }}
      SUPABASE_PROJECT_ID: ${{ secrets.SUPABASE_PROJECT_ID }}

    steps:
      - uses: actions/checkout@v3

      - uses: supabase/setup-cli@v1
        with:
          version: latest

      - name: Deploy Edge Functions
        run: |
          # Pega todas as pastas dentro de supabase/functions e faz o deploy uma a uma
          # Isso garante que suas variáveis de ambiente (Secrets) configuradas no painel sejam mantidas
          supabase functions deploy --no-verify-jwt
